.logo {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.logo_img {
  width: 3rem;
  transition: all 0.3s ease-in;
}

.logo_img img {
  width: 100%;
  height: 100%;
}

.logo h1 {
  font-size: 2.6rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
}

@media (max-width: 500px) {
  .logo_img {
    width: 2rem;
  }

  .logo h1 {
    font-size: 2rem;
  }
}
